.Display {
	position: relative;
	top: -3.5rem;
	left: 50%;
	border: 3px solid #eff5ff;
	padding: 2rem;
	border-radius: 5px;
	max-width: 30rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.2rem;
	background: #108fe8;
	color: #fff;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
	transform: translateX(-50%);
}
